upstream {{ app_name }} {
    server 127.0.0.1:{{ app_run_port }};
}

server {
    listen 80;
    server_name {{ domain_name }};
    charset utf-8;

    root {{ project_root }};
    
    location / {
      try_files $uri @proxy_to_app;
    }
    
    location @proxy_to_app {
      uwsgi_pass {{ app_name }};
      include /usr/local/etc/nginx/uwsgi_params;
    }
}

