[program:{{ app_name }}]
command={{ virtualenv_root }}/bin/uwsgi --ini uwsgi_config.ini
directory={{ project_root }}
user={{ username }}
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/{{ app_name }}.supervisor.stdout
stopsignal=INT
stopwaitsecs=5
killasgroup=true
