{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="/static/javascript/modernizr.custom.js"></script>
    <script src="/static/javascript/classie.js"></script>
{% endblock %}
{% block content %}

    <div class="column">

        <h2 class="ui center aligned icon header">
            <i class="circular emphasized options icon"></i>

            <div class="content">Панель управления
                <div class="sub header"></div>
            </div>
        </h2>

        <div class="la-anim-10"></div>
        <!-- main container -->
        <div class="container">
            <div class="ui icon hidden blue message" id="info-message">
                <i class="close icon"></i>
                <i class="checkmark icon"></i>
                <div class="content">
                    <p>Данные успешно обновлены</p>
                </div>
            </div>
            <div class="ui icon hidden red message" id="error-message">
                <i class="close icon"></i>
                <i class="checkmark icon"></i>
                <div class="content">
                    <p>Ошибка сервера</p>
                </div>
            </div>
            <div class="ui vertical menu">
                <a class="item" id="refresh-data" data-anim="la-anim-10">
                    Обновить базу
                    <i class="refresh icon"></i>
                </a>
                <a class="item">
                    Список записей
                    <div class="ui label">{{ g.db.count }}</div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    {{ super() }}
    <script>
        var inProgress = false;
        var el = document.getElementById('refresh-data');
        var anim = el.getAttribute('data-anim'),
            animEl = document.querySelector('.' + anim);

        el.addEventListener('click', function() {
            if (inProgress) return false;
            inProgress = true;
            classie.add(animEl, 'la-animate');
            $.get('/grab', function(data) {
                $('#info-message').show();
                classie.remove(animEl, 'la-animate');
                inProgress = false;
            }).fail(function() {
                classie.remove(animEl, 'la-animate');
                inProgress = false;
                $('#error-message').show();
            });
        });

        $('.message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
        });
    </script>
{% endblock %}
