{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='javascript/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game.js') }}"></script>
{% endblock %}

{% block content %}
<div class="column">
        <div class="ui three column center aligned stackable divided grid">
            <div class="column">
                <p id="time-button"><a class="ui teal left labeled icon button" ><i
                        class="time icon"></i><span id="time-count">0</span></a>
                </p>

                <p><a class="ui green left labeled icon button"><i
                        class="checked checkbox icon"></i><span id="correct-count">0</span></a>
                </p>

                <p><a class="ui red left labeled icon button" id="mebut"><i
                        class="delete icon"></i><span
                        id="failed-count">0</span></a></p>

                <p><a class="ui blue icon button" onclick="$('#links-sidebar').sidebar('toggle');">
                    <i class="align justify icon"></i></a></p>
            </div>
            <div class="column">

                <div class="flip-container" id="myCard">
                    <div class="flipper">
                        <div class="front">
                           <div class="ui image">
                                <img id="photo-front" width="180" height="285" src="{{ photo }}"/>
                           </div>
                        </div>
                        <div class="back">
                            <div class="ui image">
                                <img id="photo-back" width="180" height="285" src="{{ photo }}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui label" id="category-name">
                    {{ category }}
                </div>
            </div>
            <div class="column">
                <div class="">
                    <div class="ui animated selection list" id="persons-list">

                        {% for person in persons %}
                            <a id="select-{{ person.id }}"
                               class="item submit-button">
                                {{ person.name }}
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    <div class="ui right sidebar inverted blue vertical menu" id="links-sidebar">
        <div class="header item" id="sidebar-header">Привет, {{ g.username }}!</div>
        <a class="item" href="/">
            <i class="home icon"></i>
            На главную
        </a>
        <a class="item" href="http://kinopoisk.ru" target="_blank">
            <i class="video icon"></i>
            Кинопоиск
        </a>
        <a class="item" href="/records">
            <i class="trophy icon"></i>
            Рекорды
        </a>
        <a class="item" href="/statistic">
            <i class="info icon"></i>
            Моя статистика
        </a>
        <a class="item" href="/game">
            <i class="repeat icon"></i>
            Повторить
        </a>
        <a class="item" href="/logout">
            <i class="sign out icon"></i>
            Выйти
        </a>
    </div>

<!-- Game over modal -->
    <div class="ui modal" id="game-over-modal">
        <i class="close icon"></i>

        <div class="header" id="go-modal-header">
            Игра завершена
        </div>

        <div class="content" id="go-modal-content">
            Вы исчерпали время на ответ
        </div>
        <div class="actions">
            <a href="/" class="ui negative left labeled icon button">Домой<i class="home icon"></i></a>
            <a href="/statistic" class="ui black button">Статистика</a>
            <div onclick='location.reload(true);' class="ui positive right labeled icon button">Ещё раз<i class="repeat icon"></i></div>
        </div>
    </div>
<!-- End of game over modal -->
</div>
{% endblock %}

{% block bottom_scripts %}
<script>
    $('.ui.sidebar').sidebar();
</script>
{% endblock %}
