{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='javascript/jquery.cookie.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="column">

        <h2 class="ui center aligned icon header">
            <i class="circular emphasized users icon"></i>

            <div class="content">not-Кинопоиск. Угадай знаменитость
                <div class="sub header">Знаешь много актёров? Проверь свою память</div>
            </div>
        </h2>

        <div class="ui stackable grid">
            <div class="two column row">

                <div class="column">

                    <div class="ui stacked segment">
                        {% if person %}
                        <div class="ui card random-photo">
                            <div class="image dimmable">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button">
                                                <a href="http://www.kinopoisk.ru/name/{{ person.id }}" target="_blank">Профиль</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img src="{{ person.photo }}"/>
                            </div>
                            <div class="content">
                                <div class="header">
                                    <a href="http://www.kinopoisk.ru/name/{{ person.id }}" target="_blank">{{ person.name }}</a>
                                </div>
                                <div class="meta">
                                    <a class="group">Случайная запись</a>
                                </div>
                            </div>
                            <div class="extra content">
                                <a class="friends">
                                    <i class="empty star icon"></i>
                                    В базе {{ g.db.count }} знаменитостей
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="ui teal basic button" onclick="$('#links-sidebar').sidebar('toggle');"><i class="align justify icon"></i> Меню</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui form stacked segment">

                        <div class="field">
                            <label>Ваше имя</label>

                            <div class="ui corner labeled input">
                                <input type="text" placeholder="Введите имя"
                                       name="nickname">

                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>

                        </div>

                        <div class="field">
                            <label>Количество вариантов ответа</label>

                            <div class="ui fluid selection dropdown">
                                <div class="default text">Выберите из списка
                                </div>
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="variants">

                                <div class="menu">
                                    <div class="item" data-value="4">4</div>
                                    <div class="item" data-value="5">5</div>
                                    <div class="item" data-value="6">6</div>
                                </div>
                            </div>

                        </div>

                        <div class="field">
                            <label>Время на ответ</label>

                            <div class="ui fluid selection dropdown"
                                 id="time-dropdown">
                                <div class="default text">Выберите из списка
                                </div>
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="time">

                                <div class="menu">
                                    <div class="item" data-value="10">10 сек
                                    </div>
                                    <div class="item" data-value="15">15 сек
                                    </div>
                                    <div class="item" data-value="20">20 сек
                                    </div>
                                    <div class="item" data-value="123">Без
                                        учёта времени
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="field">
                            <label>Количество неверных ответов</label>

                            <div class="ui fluid selection dropdown">
                                <div class="default text">Выберите из списка
                                </div>
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="errors">

                                <div class="menu">
                                    <div class="item" data-value="1">До первой
                                        ошибки
                                    </div>
                                    <div class="item" data-value="3">3</div>
                                    <div class="item" data-value="5">5</div>
                                    <div class="item" data-value="123">
                                        Разрешить ошибаться
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="field">
                            <label>В категориях</label>

                            <div class="inline field">
                                <div class="ui toggle checkbox" data-name="actors" id="actors">
                                    <input type="checkbox" name="actors" checked="checked">
                                    <label data-name="actors">Актёры</label>
                                </div>
                            </div>

                            <div class="inline field">
                                <div class="ui toggle checkbox" data-name="actress" id="actress">
                                    <input type="checkbox" name="actress" checked="checked">
                                    <label data-name="actress">Актрисы</label>
                                </div>
                            </div>

                            <div class="inline field" data-name="director">
                                <div class="ui toggle checkbox" id="director">
                                    <input type="checkbox" name="director" checked="checked">
                                    <label data-name="director">Режиссёры</label>
                                </div>
                            </div>

                        </div>
                        {% if g.db.can_play %}
                            <div class="ui blue submit button" id="start-game">
                                Начать игру
                            </div>
                        {% else %}
                            <div class="ui disabled button">
                            Недостаточно данных в базе
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        <div class="ui right sidebar inverted blue vertical menu" id="links-sidebar">
            <div class="header item" id="sidebar-header">Привет, {{ g.username }}!</div>
            <a class="item" href="http://kinopoisk.ru" target="_blank">
                <i class="video icon"></i>
                Кинопоиск
            </a>
            <a class="item" href="/records">
                <i class="trophy icon"></i>
                Рекорды
            </a>
            {% if g.authenticated %}
                <a class="item" href="/statistic">
                    <i class="info icon"></i>
                    Статистика
                </a>
                <a class="item" href="/logout">
                    <i class="sign out icon"></i>
                    Выйти
                </a>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block bottom_scripts %}
    <script>

        var actress = 1;
        var actors = 1;
        var director = 1;

        function changeState(nm, state) {
            if (nm == 'actors') {
                actors = state;
            } else if (nm == 'actress') {
                actress = state;
            } else if (nm == 'director') {
                director = state;
            }
        }

        var username = $.cookie("name");
        if (username !== undefined) {
            $('input[name="nickname"]').val(username);
        }
        var counter = 0;
        var lastName;
        $('.ui.selection.dropdown').dropdown();
        $('.ui.dimmer').dimmer();
        $(".ui.checkbox").checkbox({
            onChecked: function() {
                counter++;
                var nm = this[0].name;
                changeState(nm, 1);
            },
            onUnchecked: function() {
                counter--;
                var nm = this[0].name;
                changeState(nm, 0);
                console.log(counter);
                if(counter == 0) {
                    $('#' + lastName).checkbox('check');
                } else {
                    lastName = this[0].name;
                }
            }
        });

        $(".image.dimmable").hover(function() {
            $(".ui.dimmer").dimmer("toggle");
        });

        var submit = function () {

            var timeval = $('input[name="time"]').val();
            var varval = $('input[name="variants"]').val();
            var errval = $('input[name="errors"]').val();
            var nameval = $('input[name="nickname"]').val();

            $.cookie.raw = true;

            $.cookie("time", timeval);
            $.cookie("variants", varval);
            $.cookie("errors", errval);
            $.cookie("name", nameval);

            $.cookie("actress", actress);
            $.cookie("actors", actors);
            $.cookie("director", director);

            window.location.href = '/game';

        };

        //Main form validation
        //Usage: $(".form').form(rules, settings);
        $('.ui.form').form({
                firstName: {
                    identifier: 'nickname',
                    rules: [{type: 'empty'}]
                },
                errors: {
                    identifier: 'errors',
                    rules: [{type: 'empty'}]
                },
                time: {
                    identifier: 'time',
                    rules: [{type: 'empty'}]
                },
                variants: {
                    identifier: 'variants',
                    rules: [{type: 'empty'}]
                }
            },
            {
                onSuccess: function() {
                    submit();
                }
            })
        ;
    </script>
{% endblock %}
