{% extends "base.html" %}
{% block title %}Рекорды{% endblock %}
{% block left_side %}
    <div class="left-panel">
        <div class="left-panel-text">
            <i class="triangle left icon"></i>Назад
        </div>
    </div>
{% endblock %}
{% block content %}

<div class="column">

    <h2 class="ui center aligned icon header">
        <i class="circular emphasized trophy icon"></i>

        <div class="content">Таблица рекордов
            <div class="sub header">Наибольшее число угаданных знаменитостей</div>
        </div>
    </h2>

    <table class="ui inverted blue table segment">
        <tr>
            <th>Место</th>
            <th>Кто играл</th>
            <th>Правильных ответов</th>
            <th>Неверных ответов</th>
            <th>Когда играл</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ game.player }}</td>
                <td>{{ game.correct }}</td>
                <td>{{ game.failed }}</td>
                <td><strong>{{ game.start_time.strftime('%H:%M') }}</strong> {{ game.start_time.strftime('%x') }}</td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}

{% block bottom_scripts %}
    <script>
        $('.left-panel').click(function () {
            window.location.href = '/';
        });
        $('.left-panel').hover( function() {
            $('.site-footer').css('position', 'fixed');
        }, function() {
            $('.site-footer').css('position', 'static');
        });
    </script>
{% endblock %}